build/
CMakeCache.txt
CMakeLists.txt.user
CmakeLists.txt.*.*
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
.vscode
HmiCore
Gui
MainJoystick
JoystickPub
*.a
*.cmake
logs
*.orig
libs/mainwindow/moc_mainwindow.cpp_parameters
libs/mainwindow/moc_mainwindow.cpp
CommandParser
JoystickPublisher
SensorsSubscriber
libs/mainwindow/ui_design.h
*.so
